JAVA_HOME=/usr/java/default
JAVA_OPTIONS="-Dsolr.solr.home={{ solr_path }}/drupal/solr -Xmx1024m -DSTOP.PORT=8079 -DSTOP.KEY=stopkey $JAVA_OPTIONS"
JETTY_HOME={{ solr_path }}//drupal
JETTY_USER={{ solr_user }}
JETTY_LOGS={{ solr_log_path }}
