{
  "rabbitmq": {
    "ssl": {
      "cert_chain_file": "/etc/sensu/ssl/cert.pem",
      "private_key_file": "/etc/sensu/ssl/key.pem"
    },
    "host": "{{ sensu_host }}",
    "port": 5671,
    "vhost": "/sensu",
    "user": "sensu",
    "password": "{{ sensu_password }}"
  }
}